In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
pbp15 = pd.read_csv("pbp-2015.csv")

In [57]:
pbp15.dtypes

GameId                              int64
GameDate                           object
Quarter                             int64
Minute                              int64
Second                              int64
OffenseTeam                        object
DefenseTeam                        object
Down                                int64
ToGo                                int64
YardLine                            int64
Unnamed: 10                       float64
SeriesFirstDown                     int64
Unnamed: 12                       float64
NextScore                           int64
Description                        object
TeamWin                             int64
Unnamed: 16                       float64
Unnamed: 17                       float64
SeasonYear                          int64
Yards                               int64
Formation                          object
PlayType                           object
IsRush                              int64
IsPass                              int64
IsIncomplete                        int64
IsTouchdown                         int64
PassType                           object
IsSack                              int64
IsChallenge                         int64
IsChallengeReversed                 int64
Challenger                        float64
IsMeasurement                       int64
IsInterception                      int64
IsFumble                            int64
IsPenalty                           int64
IsTwoPointConversion                int64
IsTwoPointConversionSuccessful      int64
RushDirection                      object
YardLineFixed                       int64
YardLineDirection                  object
IsPenaltyAccepted                   int64
PenaltyTeam                        object
IsNoPlay                            int64
PenaltyType                        object
PenaltyYards                        int64
dtype: object

In [146]:
pbp15.head(10)

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
1,2015091300,2015-09-13,3,4,50,NaN,GB,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
5,2015091303,2015-09-13,2,9,48,WAS,MIA,2,2,20,...,0,0,LEFT TACKLE,20,OWN,0,NaN,0,NaN,0
6,2015091303,2015-09-13,2,9,13,WAS,MIA,1,10,24,...,0,0,NaN,24,OWN,0,NaN,0,NaN,0
7,2015091303,2015-09-13,4,2,33,WAS,MIA,2,11,76,...,0,0,NaN,24,OPP,0,NaN,0,NaN,0
8,2015091304,2015-09-13,1,4,57,BUF,IND,2,20,37,...,0,0,NaN,37,OWN,0,NaN,0,NaN,0
9,2015091304,2015-09-13,2,12,24,NaN,IND,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
10,2015091304,2015-09-13,3,14,4,BUF,IND,1,10,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0
11,2015091304,2015-09-13,3,13,27,BUF,IND,2,7,71,...,0,0,LEFT GUARD,29,OPP,0,NaN,0,NaN,0
13,2015091304,2015-09-13,4,13,33,BUF,IND,4,17,13,...,0,0,NaN,13,OWN,0,NaN,0,NaN,0
14,2015091304,2015-09-13,4,2,4,NaN,IND,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0

In [59]:
for i in pbp15.columns:
    if "Unnamed" in i:
        #checked first if there's anything inside, else drop
        #print pbp15[i].value_counts()
        #drop these columns because they are empty
        pbp15.drop(i, axis=1, inplace=True)

In [60]:
pbp15.shape

(46277, 41)

In [74]:
pbp15.isnull().sum()

GameId                                0
GameDate                              0
Quarter                               0
Minute                                0
Second                                0
OffenseTeam                        1892
DefenseTeam                           0
Down                                  0
ToGo                                  0
YardLine                              0
SeriesFirstDown                       0
NextScore                             0
Description                           0
TeamWin                               0
SeasonYear                            0
Yards                                 0
Formation                             0
PlayType                             86
IsRush                                0
IsPass                                0
IsIncomplete                          0
IsTouchdown                           0
PassType                          25514
IsSack                                0
IsChallenge                           0
IsChallengeReversed                   0
Challenger                        44865
IsMeasurement                         0
IsInterception                        0
IsFumble                              0
IsPenalty                             0
IsTwoPointConversion                  0
IsTwoPointConversionSuccessful        0
RushDirection                     32322
YardLineFixed                         0
YardLineDirection                     0
IsPenaltyAccepted                     0
PenaltyTeam                       40844
IsNoPlay                              0
PenaltyType                       40842
PenaltyYards                          0
dtype: int64

In [62]:
pbp15sub = pbp15.loc[:,["GameId","OffenseTeam","DefenseTeam"]]

In [63]:
pbp15sub.isnull().sum()

GameId            0
OffenseTeam    3304
DefenseTeam       0
dtype: int64

In [64]:
d = {}
ot = {}

for x in pbp15sub.values.tolist():
    if pd.isnull(x[1]) == False:
        #key = x[1] + " " + x[2]
        if x[0] not in d:
            d[x[0]] = x[1] + " " + x[2]
            #d[key] = x[0]


for a,b in enumerate(pbp15sub.values.tolist()):
    if pd.isnull(b[1]) == True:
        for k,v in d.items():
            #if b[0] == v:
            if b[0] == k:
                team = v.split(" ")
                if b[2] == team[0]:
                    ot[a] = team[1]
                else:
                    ot[a] = team[0]
                #team = k.split(" ")
                #if b[2] == team[1]:
                    #ot[a] = team[0]

len(ot)
# offense = pd.DataFrame.from_dict(ot,orient="index")
# offense.head()

3304

In [65]:
for k,v in ot.items():
    pbp15sub.OffenseTeam[k] = v

/Users/Sheena/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [66]:
pbp15sub.isnull().sum()

GameId         0
OffenseTeam    0
DefenseTeam    0
dtype: int64

In [67]:
pbp15sub.head(20)

        GameId OffenseTeam DefenseTeam
0   2015091000          NE         PIT
1   2015091300         CHI          GB
2   2015091300         CHI          GB
3   2015091301         STL         SEA
4   2015091302         JAC         CAR
5   2015091303         WAS         MIA
6   2015091303         WAS         MIA
7   2015091303         WAS         MIA
8   2015091304         BUF         IND
9   2015091304         BUF         IND
10  2015091304         BUF         IND
11  2015091304         BUF         IND
12  2015091304         BUF         IND
13  2015091304         BUF         IND
14  2015091304         BUF         IND
15  2015091305         CLE         NYJ
16  2015091305         CLE         NYJ
17  2015091305         NYJ         CLE
18  2015091305         NYJ         CLE
19  2015091305         NYJ         CLE

In [68]:
pbp15form = pbp15[pbp15.Formation.isnull()==True]

In [69]:
pbp15form.Description.value_counts()

END QUARTER 1    248
END QUARTER 3    247
END QUARTER 2    198
END QUARTER 4     13
Name: Description, dtype: int64

In [ ]:
#drop blank formations because it refers to end of quarter
#drop later when u check other fields haha!

In [70]:
pbp15pt = pbp15[pbp15.PlayType.isnull()==True]

In [71]:
#dropped where description is two minute warning, end of quarter, end game
pbp15 = pbp15[~pbp15.Description.isin(["END GAME", "TWO-MINUTE WARNING", "END QUARTER 1","END QUARTER 2","END QUARTER 3","END QUARTER 4"])]

In [117]:
#make playtype to timeout if description is timeout! 57 rows.. yes change them
#check how lol
pbp15[pbp15.Description.str.startswith("TIMEOUT")].PlayType.isnull().sum()
## 29 left

57

In [83]:
#no play means there was a penalty 
pbp15[pbp15.PlayType== "NO PLAY"].PenaltyType.isnull().sum()

0

In [118]:
#PlayType is empty but the description isnt timeout
pbp15[(pbp15["PlayType"].isnull()==True) & (~pbp15["Description"].str.startswith("TIMEOUT"))].Description

2926     (9:43) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  ...
4537     (10:52) (SHOTGUN) DIRECT SNAP TO 12-M.SANU.  1...
5988     (9:40) (SHOTGUN) DIRECT SNAP TO 2-B.DANIELS.  ...
6049     (13:03) (SHOTGUN) DIRECT SNAP TO 23-F.GORE.  2...
6414     (6:17) 74-J.BUSHROD REPORTED IN AS ELIGIBLE. D...
15531    (13:43) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  ...
18153    (14:08) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  ...
20037    (5:49) (SHOTGUN) DIRECT SNAP TO 26-L.BELL.  26...
20153    (:05) (SHOTGUN) DIRECT SNAP TO 26-L.BELL.  26-...
25922    (12:57) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  ...
25938    (5:14) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  2...
27755    (10:49) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES. ...
32748    (7:22) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIME...
32755    (3:17) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS II...
32770    (12:20) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS I...
32830    (9:17) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS II...
32840    (5:29) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIME...
32857    (13:31) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS I...
32885    (3:36) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS II...
35178    (9:44) (SHOTGUN) DIRECT SNAP TO 30-T.GURLEY.  ...
35325    (5:56) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  ...
35376    (4:30) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS II...
39770    (6:43) (SHOTGUN) DIRECT SNAP TO 25-L.MCCOY.  1...
39858    (8:31) (SHOTGUN) DIRECT SNAP TO 17-T.PRYOR.  1...
40745    (13:20) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES. ...
41556    (8:20) (SHOTGUN) DIRECT SNAP TO 12-M.SANU.  12...
45139    (11:31) (SHOTGUN) DIRECT SNAP TO 38-B.BOLDEN. ...
45194    (6:57) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  ...
45866    (6:00) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  ...
Name: Description, dtype: object

In [119]:
pbp15.PlayType.value_counts()

PASS                    19352
RUSH                    12543
KICK OFF                 2646
PUNT                     2555
TIMEOUT                  1802
SACK                     1265
EXTRA POINT              1219
FIELD GOAL               1001
NO PLAY                   872
SCRAMBLE                  762
QB KNEEL                  424
TWO-POINT CONVERSION       96
FUMBLES                    96
EXCEPTION                  87
CLOCK STOP                 52
PENALTY                     7
Name: PlayType, dtype: int64

In [122]:
pbptesting = pbp15[(pbp15["PlayType"].isnull()==True) & (~pbp15["Description"].str.startswith("TIMEOUT"))].Description

In [131]:
players = []

for i in pbptesting:
    fsplit = i.split("TO ")
    names = fsplit[1].split(".")
    player = names[0] + names[1]
    if player not in players:
        players.append(player)

print players

#J Grimes

['41-JGRIMES', '12-MSANU', '2-BDANIELS', '23-FGORE', '22-MFORTE', '26-LBELL', '18-CSHORTS III', '30-TGURLEY', '25-LMCCOY', '17-TPRYOR', '38-BBOLDEN']

In [136]:
for i in pbptesting:
    print i

(9:43) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT END TO NE 15 FOR -1 YARDS (97-A.BRANCH; 50-R.NINKOVICH).
(10:52) (SHOTGUN) DIRECT SNAP TO 12-M.SANU.  12-M.SANU RIGHT END TO SF 46 FOR 2 YARDS (55-A.BROOKS; 96-C.LEMONIER).
(9:40) (SHOTGUN) DIRECT SNAP TO 2-B.DANIELS.  22-C.POLK LEFT GUARD TO HOU 26 FOR 1 YARD (37-J.CYPRIEN; 97-R.MILLER).
(13:03) (SHOTGUN) DIRECT SNAP TO 23-F.GORE.  23-F.GORE RIGHT TACKLE TO IND 42 FOR 4 YARDS (90-D.JONES).
(6:17) 74-J.BUSHROD REPORTED IN AS ELIGIBLE. DIRECT SNAP TO 22-M.FORTE.  22-M.FORTE RIGHT GUARD TO DET 35 FOR 3 YARDS (55-S.TULLOCH).
(13:43) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  22-M.FORTE RIGHT END TO OAK 45 FOR 8 YARDS (24-C.WOODSON). CHI-64-W.MONTGOMERY WAS INJURED DURING THE PLAY. HIS RETURN IS QUESTIONABLE.
(14:08) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  22-M.FORTE RIGHT END PUSHED OB AT CHI 11 FOR 3 YARDS (22-M.PETERS).
(5:49) (SHOTGUN) DIRECT SNAP TO 26-L.BELL.  26-L.BELL LEFT END TO SD 37 FOR -4 YARDS (56-D.BUTLER).
(:05) (SHOTGUN) DIRECT SNAP TO 26-L.BELL.  26-L.BELL LEFT TACKLE FOR 1 YARD, TOUCHDOWN. THE REPLAY OFFICIAL REVIEWED THE RUNNER BROKE THE PLANE RULING, AND THE PLAY WAS UPHELD. THE RULING ON THE FIELD STANDS.
(12:57) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  22-M.FORTE RIGHT GUARD TO MIN 38 FOR 3 YARDS (54-E.KENDRICKS).
(5:14) (SHOTGUN) DIRECT SNAP TO 22-M.FORTE.  22-M.FORTE RIGHT END TO CHI 23 FOR 4 YARDS (54-E.KENDRICKS).
(10:49) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT END TO NE 28 FOR 1 YARD (91-J.COLLINS; 95-C.JONES).
(7:22) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT END TO HOU 35 FOR 13 YARDS (52-D.HARRIS, 56-D.DAVIS).
(3:17) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS III.  18-C.SHORTS III LEFT END TO NYJ 17 FOR 12 YARDS (21-M.GILCHRIST; 41-B.SKRINE).
(12:20) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS III.  18-C.SHORTS III RIGHT END TO NYJ 45 FOR 7 YARDS (25-C.PRYOR, 52-D.HARRIS).
(9:17) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS III.  18-C.SHORTS III RIGHT END TO NYJ 27 FOR 5 YARDS (21-M.GILCHRIST).
(5:29) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT TACKLE TO NYJ 36 FOR 8 YARDS (78-L.DOUZABLE; 21-M.GILCHRIST).
(13:31) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS III.  41-J.GRIMES RIGHT GUARD TO HOU 15 FOR 1 YARD (92-L.WILLIAMS).
(3:36) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS III.  18-C.SHORTS III RIGHT END TO HOU 19 FOR 2 YARDS (94-D.HARRISON; 96-M.WILKERSON).
(9:44) (SHOTGUN) DIRECT SNAP TO 30-T.GURLEY.  11-T.AUSTIN RIGHT END PUSHED OB AT CIN 13 FOR 60 YARDS (27-D.KIRKPATRICK).
(5:56) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT END TO HOU 33 FOR 7 YARDS (50-S.ANTHONY).
(4:30) (SHOTGUN) DIRECT SNAP TO 18-C.SHORTS III.  18-C.SHORTS III LEFT END TO NO 30 FOR 7 YARDS (32-K.VACCARO; 50-S.ANTHONY).
(6:43) (SHOTGUN) DIRECT SNAP TO 25-L.MCCOY.  11-M.THIGPEN RIGHT END TO BUF 43 FOR -1 YARDS (26-B.BREELAND). END AROUND HANDOFF FROM 25-MCCOY TO 11-THIGPEN
(8:31) (SHOTGUN) DIRECT SNAP TO 17-T.PRYOR.  17-T.PRYOR RIGHT END TO CLE 42 FOR -1 YARDS (25-R.SHERMAN; 50-K.WRIGHT).
(13:20) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT TACKLE TO HOU 30 FOR 5 YARDS (51-D.BASS).
(8:20) (SHOTGUN) DIRECT SNAP TO 12-M.SANU.  12-M.SANU RIGHT END TO CIN 28 FOR 10 YARDS (21-L.WEBB).
(11:31) (SHOTGUN) DIRECT SNAP TO 38-B.BOLDEN.  38-B.BOLDEN RIGHT GUARD TO NYJ 37 FOR NO GAIN (92-L.WILLIAMS; 72-S.BOWEN).
(6:57) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES LEFT END TO TEN 13 FOR 3 YARDS (33-M.GRIFFIN).
(6:00) (SHOTGUN) DIRECT SNAP TO 41-J.GRIMES.  41-J.GRIMES RIGHT END PUSHED OB AT JAC 3 FOR 5 YARDS (51-P.POSLUSZNY).

In [133]:
pbp15.RushDirection.value_counts()

CENTER          3286
RIGHT GUARD     1645
RIGHT TACKLE    1583
LEFT GUARD      1564
LEFT TACKLE     1558
LEFT END        1510
RIGHT END       1397
Name: RushDirection, dtype: int64

In [137]:
pbp15.PassType.value_counts()

SHORT RIGHT                  6220
SHORT LEFT                   5739
SHORT MIDDLE                 3593
DEEP LEFT                    1510
DEEP RIGHT                   1481
DEEP MIDDLE                   768
PASS RULING,                   18
MIDDLE TO                       3
INTENDED FOR                    2
NOT LISTED                      2
LEFT TO                         2
(10:01) (SHOTGUN)               1
(4:54) 2-JMANZIEL               1
[55-S.TULLOCH]. PENALTY         1
(10:14) 17-PRIVERS              1
[58-V.MILLER]. THE              1
INTERCEPTED BY                  1
[20-C.GRAHAM]. THROWN           1
IN 119                          1
(13:19) 5-TTAYLOR               1
(:21) 5-TBRIDGEWATER            1
RIGHT TO                        1
[31-M.ALEXANDER]. PENALTY       1
(6:44) (SHOTGUN)                1
Name: PassType, dtype: int64

In [140]:
pbp15[(pbp15["PlayType"].isnull()==True) & (~pbp15["Description"].str.startswith("TIMEOUT"))].Formation

2926          SHOTGUN
4537          SHOTGUN
5988          SHOTGUN
6049          SHOTGUN
6414     UNDER CENTER
15531         SHOTGUN
18153         SHOTGUN
20037         SHOTGUN
20153         SHOTGUN
25922         SHOTGUN
25938         SHOTGUN
27755         SHOTGUN
32748    UNDER CENTER
32755         SHOTGUN
32770         SHOTGUN
32830         SHOTGUN
32840    UNDER CENTER
32857         SHOTGUN
32885         SHOTGUN
35178         SHOTGUN
35325         SHOTGUN
35376         SHOTGUN
39770         SHOTGUN
39858         SHOTGUN
40745         SHOTGUN
41556         SHOTGUN
45139         SHOTGUN
45194         SHOTGUN
45866         SHOTGUN
Name: Formation, dtype: object

In [145]:
pbp15sub["OffenseTeam"].factorize()[1].tolist()

['NE',
 'CHI',
 'STL',
 'JAC',
 'WAS',
 'BUF',
 'CLE',
 'NYJ',
 'HOU',
 'KC',
 'NO',
 'SD',
 'DEN',
 'BAL',
 'OAK',
 'CIN',
 'TEN',
 'TB',
 'DAL',
 'NYG',
 'ATL',
 'PHI',
 'SF',
 'MIN',
 'CAR',
 'ARI',
 'DET',
 'PIT',
 'MIA',
 'SEA',
 'GB',
 'IND']